extends main
include mixins/postCard

block links
  link(rel="stylesheet", href="/stylesheets/individual.css")
  meta(property="og:title" content="Sam's Closet - Post")
  meta(property="og:description" content=post.description)
  meta(property="og:type" content="article")
  meta(property="og:url" content="https://closet.samranda.com/i/" + post.link)
  meta(property="og:image" content="https://closet.samranda.com/i/full/" + post.id + ".jpg")
  meta(property="og:image:alt" content="Post " + post.id + ".")

block content
  #main
    #post
      #post-content
        #post-nav
          a(href="/i/" + previousLink) < previous post
          p #{post.date.getMonth()+1}/
              | #{post.date.getDate()}/#{post.date.getFullYear()}
          a(href="/i/" + nextLink) next post >
        img#post-image(
          src="/images/full/" + post.id + ".jpg"
          alt="post " + post.id)
      #other
        #post-info
          #post-description= post.description
          #post-items
            ul
              each val, key in post.items
                li #{key}: #{val} 
        #other-posts
          if previous.length > 0
            .preview-section
              p previous posts
              .preview-posts
                each post in previous
                  +postCard(post)
          if next.length > 0
            .preview-section
              p next posts
              .preview-posts
                each post in next
                  +postCard(post)